body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 15px;
}

button {
  margin-left: 20px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}



.product-list, .shopping-cart {
  width: 45%;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 1.5em;
  color: #007bff;
}

.navbar-brand:hover {
  color: #0056b3;
}

.form-control {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .product-list, .shopping-cart {
    width: 100%;
  }
}

.black-background {
  background: rgb(33,37,41);
  padding: 100px 0;
  text-align: center; 
  margin: auto; 
}

.text-white {
  color: white;
  font-size: 54px;
  font-weight: bold;
}

.subHeading {
  color: rgb(175, 170, 170);
  font-weight: bold;
  font-size: large;
}